<!doctype html>

<html>
  <head>
    <title>Natter</title>
  </head>
  <body>
    <% if @user %>
      <h1>Welcome, <%= @user.full_name %>!</h1>
    <% end %>
    <form action="/messages/new" method="get">
      <input type="submit" value="New peep">
    </form>
    <form action="/users/new" method="get">
      <input type="submit" value="Sign up">
    </form>
    <form action="/sessions/new" method="get">
      <input type="submit" value="Sign in">
    </form>
    <h2>Peeps: </h2>
    <ul>
      <% @messages.each do |message| %>
        <li><%= "#{message.time_stamp} - #{message.full_name} - #{message.text}" %> </li>
        <% end %>
    </ul> 
    <p>
      <strong><%= flash[:notice] %></strong>
    </p>  
  </body>
</html>