<h1>Sign up</h1>

<form action="/users" method="post">
  <label>Full name: </label>
  <input type="full_name" name="full_name">
  <label>Email: </label>
  <input type="email" name="email">
  <label>Password</label>
  <input type="password" name="password">
  <input type="submit" value="Submit">
</form>